<mat-toolbar color="primary" class="modulos" fxLayoutAlign="space-around">
  <mat-list fxLayout role="list">
    <mat-list-item role="listitem">
      <a class="navbar-item-selected" mat-button [routerLink]="['home']" routerLinkActive="active"><span>Home</span></a>
    </mat-list-item>
    <mat-list-item role="listitem">
      <a class="navbar-item-selected" mat-button [routerLink]="['links']" routerLinkActive="active"><span>Links</span></a>
    </mat-list-item>
    <mat-list-item role="listitem">
      <a class="navbar-item-selected" mat-button [routerLink]="['reading-log']" routerLinkActive="active"><span>Reading Log</span></a>
    </mat-list-item>
  </mat-list>

  <mat-list fxLayout role="list">
    <mat-list-item role="listitem">
      <a class="navbar-item-selected" mat-button [routerLink]="['cv']" routerLinkActive="active">
        <span>CV</span>
      </a>
    </mat-list-item>

  </mat-list>
</mat-toolbar>