
.modulos
  .section
    margin-top: 1rem
  mat-card
    padding: .6rem .1rem
    mat-card-content
      text-align: center

  .cert-title1
    line-height: 1rem
    font-size: .8rem
    font-weight: 600
  
  .cert-title2
    font-size: .7rem
    margin-bottom: 0

  .example-card
    max-width: 400px

  .diploma-vert
    height: 13rem

  .diploma-hori
    width: 11rem

  @media screen and (max-width: 960px)
    .cert-title1
      font-size: .8rem
    .cert-title2
      font-size: .7rem
    .diploma-vert
      height: 15rem
    .diploma-hori
      width: 12rem

  @media screen and (max-width: 600px)
    .cert-title1
      font-size: .68rem
      line-height: .85rem
    .cert-title2
      font-size: .6rem
    .diploma-vert
      height: 11rem
    .diploma-hori
      width: 9rem