.modulos
  h1
    margin: 0.67em 0
    font-size: 34px
    font-weight: 400
    padding: 5px

  p
    font-size: 16px
    line-height: 28px

  .diploma-hori
    width: 15rem

  .diploma-vert
    height: 23rem
  
  .cert-title1
    font-size: .9rem
    font-weight: 600
  
  .cert-title2
    font-size: .8rem
    margin-bottom: 0

  .example-card
    max-width: 400px
