<div class="modulos" fxLayout="row" fxLayoutAlign="center">
    <div fxFlex="80" fxLayout="column" fxLayoutAlign="start">
        <h1>Hola mundo</h1>
        <p>My name is Javier Monzón Durand. I'm a Informatics Engineer who's been playing with these things called computers since I was 10, when my father gave me one for Christmas.</p>
        <p>You can find my open source contributions on GitHub, but since I joined my current company I've been laser-focused on my job so there's not much recent activity.</p>
        <p>You can reach me via email at @gmail.com, via Twitter at <a href="https://twitter.com/a20121248" target="_blank">@a20121248</a> or on <a href="https://www.linkedin.com/in/javiermd13/" target="_blank">LinkedIn</a>.</p>

        <p>This site was made with Angular and is hosted on GitHub. Learn more about <b>here</b>.</p>

        <h2>Certifications</h2>

        <h3>Finance</h3>
        <ul>
            <li><a href="assets/files/Finance/CENTRUM Gestión del Riesgo Crediticio.pdf" target="_blank">CENTRUM Gestión del Riesgo Crediticio</a></li>
        </ul>
        
        <h3>Azure</h3>
        <ul>
            <li><a href="assets/files/Azure/Microsoft Certified Azure Fundamentals.pdf" target="_blank">Microsoft Certified Azure Fundamentals</a></li>
            <li><a href="assets/files/Azure/Microsoft Certified Azure AI Fundamentals.pdf" target="_blank">Microsoft Certified Azure AI Fundamentals</a></li>
            <li><a href="assets/files/Azure/Microsoft Certified Azure Data Fundamentals.pdf" target="_blank">Microsoft Certified Azure Data Fundamentals</a></li>
            <li><a href="assets/files/Azure/Microsoft Certified Azure Data Scientist Associate.pdf" target="_blank">Microsoft Certified Azure Data Scientist Associate</a></li>
        </ul>
        
        <h3>SAS</h3>
        <ul>
            <li><a href="assets/files/SAS/SAS Certified Associate - Programming Fundamentals Using SAS 9.4 certificate.pdf" target="_blank">SAS Certified Associate - Programming Fundamentals Using SAS 9.4 certificate</a></li>
        </ul>
   </div>
</div>