<div class="modulos" fxLayout="row" fxLayoutAlign="center">
    <div fxFlex="80" fxLayout="column" fxLayoutAlign="start">
        <h1>Hola mundo</h1>
        <p>My name is Javier Monzón Durand. I'm an Informatics Engineer who's been playing with these things called computers since I was 10, when my father gave me one for Christmas.</p>
        <p>You can find my open source contributions on GitHub, but since I joined my current company I've been laser-focused on my job so there's not much recent activity.</p>
        <p>You can reach me via Twitter at <a href="https://twitter.com/a20121248" target="_blank">@a20121248</a> or on <a href="https://www.linkedin.com/in/javiermd13/" target="_blank">LinkedIn</a>.</p>

        <p>This site was made with Angular and is hosted on GitHub. Learn more about <b>here</b>.</p>

   </div>
</div>